<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(227 230 251); border-bottom: 2px #4E5EB4 solid;">
  <div class="container-fluid">
    <div class="navbar-left logo">
      <a [routerLink]="['/home']">
        <img width="40" alt="Medication Logo" src="assets/images/medication-logo.png"/>
      </a>
    </div>
    <span class="navbar-brand p-2">{{title}}</span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item p-1" *ngIf="authService.userRole !== 'admin' && authService.userRole !== 'superadmin'">
          <span class="fa-stack has-badge" style="vertical-align: top;" attr.data-count="{{apiService.shoppingCartProductsCounter}}">
            <a class="nav-link" [routerLink]="['/shopping-cart']"><i class="fas fa-shopping-cart fa-stack-2x me-1" style="font-size: 20px; color: rgb(78 94 179);"></i></a>
          </span>
        </li>
        <li class="nav-item p-1" *ngIf="authService.userRole !== 'admin' && authService.userRole !== 'superadmin'">
          <span class="fa-stack has-badge" style="vertical-align: top;" attr.data-count="{{apiService.wishListProductsCounter}}">
            <a class="nav-link" [routerLink]="['/wish-list']"><i class="fas fa-heart fa-stack-2x me-1" style="font-size: 20px; color: rgb(78 94 179);"></i></a>
          </span>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn == true && authService.userRole == 'user'">
          <a class="nav-link" [routerLink]="['/orders']"><i class="fa fa-receipt me-1"
              style="color: rgb(78 94 179);"></i>Orders</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn == true && authService.userRole == 'superadmin'">
          <a class="nav-link" [routerLink]="['/users']"><i class="fa fa-users me-1"
              style="color: rgb(78 94 179);"></i>Users</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn == true && (authService.userRole == 'admin' || authService.userRole == 'superadmin')">
          <a class="nav-link" [routerLink]="['/products']"><i class="fa fa-list-alt me-1"
              style="color: rgb(78 94 179);"></i>Products</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn == false">
          <a class="nav-link" [routerLink]="['/signin']"><i class="fa fa-lock me-1"
              style="color: rgb(78 94 179);"></i>Login</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn == false">
          <a class="nav-link" [routerLink]="['/register']"><i class="fa fa-lock me-1"
              style="color: rgb(78 94 179);"></i>Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn == true">
          <a class="nav-link" (click)="logOut()" style="cursor: pointer;"><i class="fa fa-unlock me-1"
              style="color: rgb(78 94 179);"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Body -->
<div class="container min-vh-100 py-4">
  <router-outlet></router-outlet>
</div>


<!-- Footer -->
<footer class="footer fixed-bottom mt-auto py-1" style="background-color: #4c4c4c !important;">
  <div class="container text-center">
    <span class="text-light">&copy; 2021 Online Medication Purchase Portal. MEAN Stack Developer</span>
  </div>
</footer>