<div>
    <h1 class="text-center product-header"><i class="fa fa-sitemap" style="color: #dd9c3e;"></i><strong> WISH LIST </strong></h1>
    <hr>
    <div *ngIf="wishListProducts.length == 0" class="alert alert-warning h3 text-center mt-3" role="alert">
      No Products are Available in Wish List
    </div>
      <div class="row d-flex justify-content-center mt-3">
        <div *ngIf="wishListProducts.length > 0" >
            <mat-card class="example-card" *ngFor="let product of wishListProducts; let i = index">
                <section>
                  <img mat-card-image [src]="imgPATH + product.img" [alt]="product.name" width="auto" height="auto">
                </section>
                <mat-card-content class="desc text-justify mt-2">
                  <div class="form-group row m-1">
                    <label class="col-4 control-label"><strong>Name</strong></label>
                    <div class="col">
                      {{product.name}}
                    </div>
                  </div>
                  <div class="form-group row m-1">
                    <label class="col-4 control-label"><strong>Description</strong></label>
                    <div class="col">
                      {{product.description}}
                    </div>
                  </div>
                  <div class="form-group row m-1">
                    <label class="col-4 control-label"><strong>Size</strong></label>
                    <div class="col">
                      {{product.size}}
                    </div>
                  </div>
                  <div class="form-group row m-1">
                    <label class="col-4 control-label"><strong>Price</strong></label>
                    <div class="col">
                      {{product.price}} SR
                    </div>
                  </div>
                  <div class="form-group row m-1">
                    <label class="col-4 control-label"><strong>Quantity</strong></label>
                    <div class="col">
                      {{product.quantity}}
                    </div>
                  </div>
                </mat-card-content>
                <hr>
                <mat-card-actions>
                  <button mat-raised-button type="button" class="mat-raised" color="primary" tooltip="Add to Shopping Cart" (click)="addToShoppingCart(product)"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                  <button mat-raised-button type="button" class="mat-raised" color="warn" tooltip="Remove Product" (click)="removeProductFromWishList(product)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </mat-card-actions>
              </mat-card>
        </div>
      </div>
  </div>